$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './colors';

body,
html {
  background-color: $black;
  font-family: 'Courier';
}

.container {
  border: 10px solid $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;

  .results {
    border: 1px solid $green;
    color: $white;
    height: 30%;
    overflow: scroll;
  }

  .input-box,
  .submit-button {
    background-color: $black;
    border-color: $darker-green;
    color: $green;
  }

  .instructions {
    color: $green;
  }
}

.box {
  align-self: center;
  display: flex;
  justify-content: center;
  transition: transform .5s;
  width: 75%;

  .box > * {
    flex: 1 0 auto;
  }
}

.box1 { transform: translateY(-50%); }
.box0 { transform: translateY(-100%); }
.box2 { transform: translateY(0%); }

.results {
  justify-content: flex-start;
}

.information {
  background-color: $pink;
  height: 100vh;
}

.input-box:focus {
  outline: none;
}

p {
  color: $lime;
  font-size: 20px;
}
